/* __________________ Common CSS_____________________ */

* {
    margin: 0 px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #1C2127;
}  
body {
    font-family: 'Poppins', sans-serif;
    height: 641px;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    left:31%;
    right: 20%;
    color: #E5E5E5;
    z-index: 1000;
}

footer {
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: #E5E5E5;
    z-index: 1000;
}

.bkimage {
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* __________________ Home page CSS_____________________ */





/* __________________ Calling page CSS_____________________ */

.caller-name {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 15%;
    width: 35%;
    color: #E5E5E5;
    z-index: 1000;
    font-size: 20px;
    justify-content: space-around;
}

.person-icon {
    position: absolute;
    top: 29%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 270px;
    height: 270px;
    color: #E5E5E5;
    z-index: 1000;
}

.calling-icons {
    position: absolute;
    bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 30%;
    text-align: center;
    z-index: 1000;
    
}

.vid-on{
    padding-right: 20px;
    padding-left: 20px;
}

.end-call{
    padding-right: 20px;
    padding-left: 20px;
}

.mic-on{
    padding-right: 20px;
    padding-left: 20px;
}

/* __________________ Receiving-call page CSS_____________________ */
.accept-call{
    padding-right: 20px;
    padding-left: 20px;
}
/* __________________ on-Call page CSS_____________________ */

.imagewrapper1{
    position: relative;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    height: 450px; /*(16:9 multiplied by 50)*/
    width: 800px;  /*(16:9 multiplied by 50)*/
    background-color: brown;
    z-index: 1000;
}

.image1{
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    bottom: 0px;
    height:100%;
    width: 100%;
}
