/* __________________ Common CSS_____________________ */

* {
    margin: 0 px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #1C2127;
}  
body {
    font-family: 'Poppins', sans-serif;
    height: 641px;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    left:31%;
    right: 20%;
    color: #E5E5E5;
    z-index: 1000;
}

footer {
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: #E5E5E5;
    z-index: 1000;
}

.bkimage {
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0.5; */
}
/* __________________ Home page CSS_____________________ */

.input-title{
    position: absolute;
    top: 16%;
    left: 8%;
    z-index: 1000;
    color: #E5E5E5;
    font-size: 18px;
}
label{
    position: absolute;
    top: 25%;
    left: 8%;
    z-index: 1000;
}
input{
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance:none;
    appearance: none;
    background: #E5E5E5;
    padding: 12px;
    border-radius: 3px;
    width: 300px;
}
.button-save{
    position: absolute;
    top: 25%;
    left: 430px;
    z-index: 1000;
    font-size: 15px;
    padding:9px 40px;
    background-color: rgb(29, 129, 223);
    border-radius: 3px;
    border: none;
    color: #E5E5E5;
    cursor: pointer;
}

.button-vid{
    position: relative;
    z-index: 1000;
    cursor: pointer;
    background-color: none;
    border: none;
    top: 35%;
    color: #E5E5E5;
}

.button-mic{
    position: relative;
    left: 90px;
    z-index: 1000;
    cursor: pointer;
    background-color: none;
    border: none;
    top: 35%;
    color: #E5E5E5;
}

.callernames-wrapper{
    position:relative;
    top: 7%;
    left:700px;
    z-index: 1000;
    width: 400px;
    height: 450px;
    background: #E5E5E5;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 25px;
}
.callernames{
    background: none;
}




/* __________________ Calling page CSS_____________________ */

.caller-name {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 15%;
    width: 35%;
    color: #E5E5E5;
    z-index: 1000;
    font-size: 20px;
    justify-content: space-around;
}

.person-icon {
    position: absolute;
    top: 29%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 270px;
    height: 270px;
    color: #E5E5E5;
    z-index: 1000;
}

.calling-icons {
    position: absolute;
    bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 30%;
    text-align: center;
    z-index: 1000;
    
}

.call-buttons{
    background-color: none;
    border: none;
    cursor: pointer;
}

.vid-on{
    padding-right: 20px;
    padding-left: 20px;
}

.end-call{
    padding-right: 20px;
    padding-left: 20px;
}

.mic-on{
    padding-right: 20px;
    padding-left: 20px;
}

/* __________________ Receiving-call page CSS_____________________ */

.receiving-buttons{
    border: none;
    background: none;
    cursor: pointer;
}
.accept-call{
    padding-right: 20px;
    padding-left: 20px;
}
/* __________________ on-Call page CSS_____________________ */

.imagewrapper1{
    position: relative;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    height: 405px; /*(16:9 multiplied by 45)*/
    width: 720px;  /*(16:9 multiplied by 45)*/
    background-color: rgb(245, 245, 245);
    z-index: 1000;
    border: solid #c00040;
}

.image1{
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    bottom: 0px;
    height:100%;
    width: 100%;
}

.imagewrapper2{
    position: absolute;
    bottom: 24%;
    margin-left: auto;
    margin-right: auto;
    left: 510px;
    right: 0;
    text-align: center;
    height: 108px; /*(16:9 multiplied by 15)*/
    width: 192px;  /*(16:9 multiplied by 15)*/
    background-color: rgb(27, 113, 163);
    z-index: 1000;
    border: solid #00c03a;
}
.image2{
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    bottom: 0px;
    height:100%;
    width: 100%;
}

.vid-on-talking, .mic-on-talking, .end-call-talking {
    position:relative;
    z-index: 1000;
    cursor: pointer;
    background-color: none;
    border: none;
    top: 18%;
    left: 43%;
}

.talking {
    width: 80%;
}